<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <h1 th:text="'Welcome, ' + ${user.name} + ' and '  + ${user2.name} +  '!'"></h1>
    <h1 th:text="'Welcome to OTU Flights!'"></h1>
    <style>
        select {
            width: 200px; /* Set the width */
            height: 40px; /* Set the height */
            font-size: 16px; /* Set the font size */
            padding: 10px; /* Add padding */
        }
    </style>
    <select id="Flight Type">
        <option value="Return trip">Return trip</option>
        <option value="Return trip">One way</option>
        <option value="Return trip">Multi city</option>
    </select>
    
</body>
</html>